.vote-block-wrapper {
    padding: 20px;
    position: relative;
}

.vote-block-headline {
    cursor: pointer;
    padding-bottom: 6px;
    padding-top: 40px;
}

.vote-block-wrapper__button-group {
    margin-top: 30px;
}

.vote-block-state-text {
    padding: 10px;
}

.vote-block-description {
    /* text-align: justify; */
    padding-top: 30px;
    padding-bottom: 30px;
}