.App {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.App::after {
    z-index: -1;
    content: "";
    width: 160% !important;
    height: 160% !important;
    position: fixed;
    left: 0;
    top: 0;
    /* background-image: linear-gradient(135deg, #fffcd2 0%, #99805f 100%); */
    background-image: linear-gradient(86.02deg, #FDFDFF -5.53%, #D4D4F0 65.24%, #EEEEFF 106.31%);
    /* background-image: linear-gradient(225deg, #2b2d94 0%, #2d3475 50%, #2d5a7a 100%); */

}

input,
select,
textarea,
.MuiListItem-button {
    color: #222 !important;
}



.MuiSelect-selectMenu {
    background: #fff;
}